<%= form_with model: movie do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @movie.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <% @movie.errors.full_messages_for(:year).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :overview %><br>
    <%= form.text_area :overview %>
    <% @movie.errors.full_messages_for(:overview).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <% if movie.image.attached? %>
      <%= image_tag movie_image, style: "width:200px; display: block" %>
    <% end %>

    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
