<div class="mx-auto mt-20 flex flex-col items-end" style="width: 800px;">
  <div class="flex flex-row bg-white w-full">
    <div class="w-1/4 h-48 flex">
      <% if @movie.image.attached? %>
        <%= image_tag @movie.image, class: 'h-full px-4 py-4' %>
      <% else %>
        <div class="text-center m-auto px-3 py-3 text-blue-600 font-bold">
          * No image yet
        </div>
      <% end %>
    </div>
    <div class="w-3/4 flex flex-col py-4 pr-4 space-y-2">
      <div class="flex flex-row justify-between">
        <div>
          <span class="text-blue-900 font-bold text-3xl">
            <%= @movie.title %>
          </span>
          <span class="text-gray-500 text-lg">
            <%= @movie.year %>
          </span>
        </div>
        <%= link_to "EDIT", edit_movie_path(@movie), class: 'font-semibold px-4 py-2 text-white bg-blue-900 hover:bg-blue-800' %>
      </div>
      <div class="text-gray-500 text-lg">
          <%= @movie.overview %>
      </div>
      <div class="font-semibold">
        Added by
        <span class="text-blue-700">
          <%= @movie.user.email %>
        </span>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <%= render "reviews/form" %>
  </div>

  <div class="w-3/4 grid grid-cols-1 space-y-2 mt-4">
    <span class="font-bold text-blue-900 border-b-2 text-3xl border-blue-900">Reviews</span>
    <% @movie.reviews.each do |review| %>
      <div class="flex flex-col bg-white px-4 py-4 justify-between">
        <div class="text-lg">
          <%= review.body %>
        </div>
        <div class="flex justify-end font-bold text-blue-900">
          <%= review&.user&.email %>
        </div>
      </div>
    <% end %>
  </div>
</div>
