<div class="flex h-full">
  <div class="bg-white px-8 py-8 w-96 m-auto">
    <h2 class="text-center font-bold text-lg">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mt-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full bg-gray-100 outline-none rounded' %>
      </div>

      <div class="field mt-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-full bg-gray-100 outline-none rounded' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex justify-end items-center mt-1">
          <%= f.check_box :remember_me, class: 'mr-2' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="text-red-500">
        <%= render 'shared/warning' %>
      </div>

      <div class="flex justify-between mt-1">
        <%= render "devise/shared/links" %>
      </div>

      <div class="actions mt-4 flex flex-row justify-items-center justify-center">
        <%= f.submit "LOG IN", class: 'px-4 py-2 text-white bg-blue-900 hover:bg-blue-700 cursor-pointer mr-3 font-semibold' %>
      </div>
    <% end %>
  </div>
</div>
